img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

table {
    width: 80%;
}



button {
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
